# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Build artifacts
/target/
**/*.rs.bk
*.exe
*.obj
*.o
__pycache__/

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# Editor files
.vscode/
